# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains IDE
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# C++ Build Files
*.o
*.obj
*.exe
*.out

# Temporary Files
*.tmp
*.temp

#compiled file
graph_test